.basic-col {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
}

.col-gap-only {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.basic-row {
  display: flex;
  width: 100%;
  gap: 20px;
}
